.block-line-wrapper {
    position: relative;
    width: max-content;
    display: block;
}

.block-line {
    position: relative;
    display: block;
}

.block-revealer {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    pointer-events: none;
    will-change: transform;
    z-index: 1;
}